@import "src/variables";

$border-width: 1px;

.table {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;

  &__sort-icon {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    column-gap: 1rem;
    cursor: pointer;
    user-select: none;

    svg {
      width: 1rem;
      height: 1rem;
    }
  }

  &__total-users {
    font-weight: bold;
    font-size: 0.8rem;
  }

  &__info-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
  }

  &__row {
    display: grid;
    grid-template-columns: 3fr 3fr 2fr 3fr 3fr 3fr 2fr 2fr max-content max-content;
    border: solid $border-width $dim;
    border-radius: 0.5rem;

    &_heading {
      @extend .table__row;
      border: none;
    }
  }

  &__cell {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
    padding: 1rem;
    min-width: 5rem;
    white-space: nowrap;
    overflow: hidden;
    border-right: solid $border-width $dim;

    &:last-child {
      border: none;
    }

    &_bold {
      @extend .table__cell;
      font-size: 0.7rem;
      font-weight: bold;
      user-select: none;
      border: none;
      padding-bottom: 0;
      color: $dim;
    }

    &_actions {
      @extend .table__cell;
      display: flex;
      justify-content: space-evenly;
    }
  }
}