@import "src/variables";

.icon-button {
  display: flex;
  justify-content: center;
  cursor: pointer;
  padding: 0.25rem;
  width: 1.2rem;
  height: 1.2rem;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  border-radius: 10%;
  transition: color 200ms ease-in-out;

  svg {
    transition: inherit;
    color: $dim;
    fill: currentColor;
  }

  &:hover svg {
    color: $blue;
    fill: currentColor;
  }
}