@import "src/variables";

.modal-form {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 1rem;
  border: none;
  width: 100%;
  max-width: 768px;
  margin: auto 6rem;
  padding: 1rem 10%;
  box-sizing: border-box;

  &__heading {
    color: $blue;
    margin-bottom: 2rem;
    font-size: 1.7rem;
  }

  &__cross {
    position: absolute;
    width: 1rem;
    top: 1rem;
    right: 1rem;
  }

  &__row {
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1rem;

    label {
      font-size: 0.5rem;
      color: $dim;
      top: 0.4rem;
      left: 1rem;
      position: absolute;
    }

    input, select {
      font-size: 0.8rem;
      width: 100%;
    }

    input::-webkit-calendar-picker-indicator {
      position: absolute;
      color: $dim;
      fill: currentColor;
      top: 1rem;
      right: 1rem;
      cursor: pointer;
    }

  }

  &__error-notification {
    position: absolute;
    top: 1.5rem;
    right: 0;
    color: red;
    font-size: 0.5rem;
  }
}