@import "src/variables";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $light-gray;
  color: $blue;
  height: 6rem;
  margin: 0;
  padding: 0 6rem;

  &__heading {
    padding: 0;
    margin: 0;
  }

  &__button {
    column-gap: 0.5rem;
    width: max-content;
    letter-spacing: 0.05rem;
    color: $light-blue;
    background: $gray;
    text-transform: uppercase;
    font-weight: bold;

    &:hover {
      background-color: lighten($gray, 20%)
    }
  }
}